.navbar {
    padding: 1rem 0;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-links {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_logo {
            margin-right: 3.75rem;

            & img {
                width: 93px;
                height: 32px;
            }
        }

        &_container {
            display: flex;
            flex-direction: row;
        }

        & p {
            font-family: 'Oswald';
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            color: #000000;

            margin: 0 1rem;
        }
    }

    &-btn {
        & button {
            font-family: 'Oswald';
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            
            color: #FFFFFF;
            background: #0057FF;
            border-radius: 30px;
            border: 0;

            padding: 14px 40px;

            cursor: pointer;
        }
    }

    &-menu {
        position: relative;
        margin-left: 1rem;

        &__btn {
            display: none;
            width: 25px;
            height: 25px;
            background-color: #FFF;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            & span,
            & span:before,
            & span:after {
                position: absolute;
                top: 50%; margin-top: -1px;
                left: 50%; margin-left: -10px;
                width: 20px;
                height: 2px;
                background-color: #000;
            }

            
            & span:before,
            & span:after {
                content: '';
                display: block;
                transition: 0.3s;
            }

            & span:before {
                transform: translateY(-5px);
            }

            & span:after {
                transform: translateY(5px);
            }

        }
        
        ._active {

            & span::before {
                transform: rotate(45deg);
            }

            & span {
                height: 0;
            }

            & span::after {
                transform: rotate(-45deg);
            }

        }

        &__container {
            display: none;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;

            text-align: end;
            background-color: #0057FF;
            padding: 2rem;
            position: absolute;
            top: 40px;
            right: 0;
            margin-top: 1rem;
            min-width: 230px;
            border-radius: 10px;

            &-links p {
                font-family: 'Oswald';
                font-size: 14px;
                line-height: 26px;
                text-transform: uppercase;
                color: #FFF;

                margin: 1rem 0;
            }
        }

        ._active {
            display: flex;
        }
    }
}

@media screen and (max-width: 840px) {
    .navbar-links_container {
        display: none;
    }

    .navbar-menu__btn {
        display: block;
    }
}

@media screen and (max-width: 470px){
    .navbar-btn {
        display: none;
    }
}
